@import url("https://fonts.googleapis.com/css?family=Poppins:400");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* allows percentge-based heights in the application*/
html,
body {
  height: 100%;
}

body {
  background: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

/*improve media defaults*/

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*remove built-in form typography styles*/
input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: o;
}
